
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bungee+Inline|Roboto&display=swap');

:root {
--alfa--font: 'Alfa Slab One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Bungee Inline', cursive;
}

.todo-list {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 100px 25% auto;
  padding-left: 20vw;
  padding-right: 20vw;
  box-sizing: border-box;
  background-color: #282c34;

}
h1{
  grid-row: 1;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: var(--alfa--font);
}
h1 span {
  background: url(https://media.giphy.com/media/ZnKdSM5piRLDW/giphy.gif);
  background-size: cover;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;  
}
.input {
  grid-row: 2;
  text-align: center;
}
.input-item{
  background-color: white;
}
.input-notes{
  background-color: white;
}
.input-button {
  color: white;
  background-color: #282c34;
  outline: none;
  width: 80px;
  height: 30px;
  border-radius: 9999em 9999em 9999em 9999em;
  border-style: ridge;
  border-color: #2a2b2e;
  box-shadow:  9px 9px 16px #191d24, -9px -9px 16px #3a404b;
}
.input-button:active{
  background-color:#29447a;
}



.todo-list-items {
  grid-row: 3 ;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  padding: 5px 20px;
  border-radius: 30px ;

}
.todo-list-items div:nth-child(even){
  background-color: darkgrey;
  border-radius: 5px;
}
.todo-item{
  margin-top: 5px;
  border-color: #0f4c75;
  border-style: ridge;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 30vw  10vw 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5px;
  
}
.todo-text{
  display: grid;
  grid-row: 1;
  grid-column: 1;
  align-items: center;
  padding-left: 5px;

}
.time{
  grid-row: 1;
  grid-column: 2;
  display: grid;
  align-items: center;

}
.todo-check{
  grid-row: 1;
  grid-column: 3;
}
.delete {
  grid-row: 1;
  grid-column: 4;
}
.toggle-true {
  padding: 5px 10px;
  width: 55vw;
  height: auto;
  margin-right: 10%;
  background-color: darkslategray;
  color: aquamarine;
  word-wrap: break-word;
}
.sheep {
  background-color: white;
}
.time {
  font-size: 10px;
  padding-left: 20px;
}
.todo-item {
  font-family: var(--alfa--font);
}
