
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bungee+Inline|Roboto&display=swap');

:root {
--alfa--font: 'Alfa Slab One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Bungee Inline', cursive;
}
* {
  background-color: #282c34;
}
.todo-list {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 100px 25% auto;
  padding-left: 20vw;
  padding-right: 20vw;
  box-sizing: border-box;

}
h1{
  grid-row: 1;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: var(--alfa--font);
}
h1 span {
  background: url(https://media.giphy.com/media/ZnKdSM5piRLDW/giphy.gif);
  background-size: cover;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;  
}
.input {
  grid-row: 2;
  text-align: center;
}
.input-item{
  background-color: white;
}
.input-notes{
  background-color: white;
}
.input-button {
  color: white;
  outline: none;
  width: 80px;
  height: 30px;
  border-radius: 9999em 9999em 9999em 9999em;
  border: none;
  box-shadow:  9px 9px 16px #191d24, -9px -9px 16px #3a404b;
}
.input-button:active{
  background-color:#29447a;
}



.todo-list-items {
  grid-row: 3 ;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  padding: 5px 20px;

}
.todo-item{
  display: grid;
  grid-template-columns: 40vw 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}
.todo-text{
  grid-row: 1;
  grid-column: 1;

}
.time{
  grid-row: 1;
  grid-column: 1;

}
.todo-check{
  grid-row: 1;
  grid-column: 2;
}
.delete {
  grid-row: 1;
  grid-column: 3;
}
.toggle-true {
  grid-row: 2;
  background-color: red ;
  float: left;
  margin-bottom: 30px;


}
.sheep {
  background-color: white;
}
.time {
  font-size: 10px;
  padding-left: 20px;
}
.todo-item {
  font-family: var(--alfa--font);
}
